body {background:DarkGray;}
h1 {color:Navy;
text-align:center;
background:DimGray;}
h2 {color:MidnightBlue;
text-decoration:underline}
h3 {color:Teal;}
p {color:black;}
img {width:250px;}
img.main {width:450px;}